export('miniCofactorReport')
export('createFPWM')
export('plotFPWM')
export('write.FPWM')
export('extractEnrichment')
export('importChromSizes')
export('loadChromFile')
export('loadChromSizes')
export('shuffle')
import('TFregulomeR')
import('ggplot2')
import('gridExtra')
import('gridGraphics')
import('ggseqlogo')
import('GenomicRanges')
import('cowplot')
import('grid')
import('dplyr')